.descripcion{
    grid-area: descripcion;
    overflow-y: auto;
    padding: 10px;
    margin: 4px;
}
.descripcion::-webkit-scrollbar, .albums::-webkit-scrollbar{
    width: 8px;
}
.descripcion::-webkit-scrollbar-thumb, .albums::-webkit-scrollbar-thumb{
    background: var(--primary-color);
    border-radius: 4px;
}
.descripcion .paragraph{
    overflow-y: scroll;
    scrollbar-width: none;
}
.descripcion .paragraph::-webkit-scrollbar{
    display: none;
}
@media (max-width: 768px) {
    .descripcion{
        padding: 4px;
        margin: 0px;
    }
}