@import url("./partials/base.css");
@import url("./partials/layouts.css");
@import url("./partials/menu.css");
@import url("./partials/header_footer.css");
@import url("./partials/recomendacion.css");
@import url("./partials/descripcion.css");
@import url("./partials/reproductor.css");
.main{
    grid-area: main;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.titulos_container{
    padding-right: 8px;
}
.titulos{
    width: 100%;
    border-collapse: collapse;
}
.favoritas_container{
    height: auto;
    position: relative;
    display: block;
    text-align: center;
    overflow: auto;
}
.favoritas_container::-webkit-scrollbar, .albums::-webkit-scrollbar{
    width: 8px;
}
.favoritas_container::-webkit-scrollbar-thumb, .albums::-webkit-scrollbar-thumb{
    background: var(--primary-color);
    border-radius: 4px;
}
.tbody{
    border-collapse: collapse;
    width: 100%;
    height: auto;
}
tr{
    height: 40px;
}
td, th{
    border: 1px solid white;
}
.favoritas_conteiner .caja {
   
    /* height: 40px;  */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    text-align: center;
    /* box-shadow:0 0 0 5px black; */
    /* palegreen */
}

td:nth-child(1),th:nth-child(1){
    /* padding: 10px 0px; */
    width: 60px;
    /* box-sizing: border-box; */
}
td:nth-child(2),th:nth-child(2){
    width: auto;
    position: relative;
}
td:nth-child(3),th:nth-child(3){
    width: 26%;
    position: relative;
}
td:nth-child(4),th:nth-child(4){
    width: 12%;
}
td:nth-child(5),th:nth-child(5){
    width: 22%;
}

.star{
    width: 40px;
    height: 40px;
    top: 0px;
    right: 10px;
    /* background-color: red; */
}


.fa-play:hover{
    color: var(--primary-color);
}
@media (max-width: 768px) {
    .titulos_container{
        padding: 0;
    }
    
}