@charset "utf-8";
@import url("./partials/base.css");
@import url("./partials/layouts.css");
@import url("./partials/main.css");
@import url("./partials/header_footer.css");
@import url("./partials/recomendacion.css");
@import url("./partials/descripcion.css");
@import url("./partials/reproductor.css");
@import url("./partials/menu.css");
.header .search_input{
    width: 60%;
    border-radius: 8px;
    padding: 3px 6px;
    border: 1px solid var(--white);
    background-color: var(--secondary-color);
    transition-property: background-color;
    transition-duration: 0.5s;
}
.header .search_input:hover{
    background-color: var(--dark-gray);
}
@media(max-width: 768px) {
    .header .search_input{
        width: 100%;
    }
}
.menu .home{
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 5px;
}
.main .albums{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    overflow-y: auto;
    gap: 10px;
    
}
.albums .contenedor{
    position: relative;
    
}

.contenedor .estrellita{
    position: absolute;
    width: 40px;
    height: 40px;
    right: 10px;
    top: 10px;
}
@media(max-width: 768px) {
    .main .albums{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(max-width: 375px) {
    .main .albums{
        grid-template-columns: repeat(2, 1fr);
    }
}
.main .albums a img{
    width: 100%;
    border-radius: 10px;
}
