@import url("./partials/base.css");
@import url("./partials/layouts.css");
@import url("./partials/header_footer.css");
@import url("./partials/menu.css");
@import url("./partials/main.css");
@import url("./partials/descripcion.css");
@import url("./partials/reproductor.css");
@import url("./partials/recomendacion.css");
/* .main{
    grid-area: main;
} */
.header .search_input{
    width: 60%;
    border-radius: 8px;
    padding: 3px 6px;
    border: 1px solid var(--white);
    background-color: var(--secondary-color);
    transition-property: background-color;
    transition-duration: 0.5s;
}
.header .search_input:hover{
    background-color: var(--dark-gray);
}
@media(max-width: 768px) {
    .header .search_input{
        width: 100%;
    }
}
#campo_buscar{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 4px 8px;
}
#campo_buscar::placeholder{
    /* background-color: rgba(255, 255, 255, 0.541); */
    color: white;
}
.albums .contenedor .img_description_cancion {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    text-align: center;
    box-sizing: 3em;
    padding: 4px;
}
.albums .contenedor .img_description {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4px;
    background-color: black;
    text-align: center;
    box-sizing: 3em;
    padding: 4px;
}